<div class='content'>
<h1>Notifications</h1>
<% if @notifications.blank? %>
  <h4>You have no notifications<h4>
<% else %>
  <ul>
    <% @notifications.each do |notification| %>
    <li>
      <% if notification.notice_type == 'request' %>
        <%= link_to find_user(notification.notice_id),
                    user_path(notification.notice_id) %> 
                    sent you a friend request.
      <% elsif notification.notice_type == 'comment' %>
        <%= link_to find_commenter(notification.notice_id),
                    user_path(notification.user_id) %> commented on your
                    <%= link_to 'post.', post_path(find_obj(notification.notice_id, 'comment').post_id) %>
      <% elsif notification.notice_type == 'like' %>    
        <%= link_to find_liker(notification.notice_id),
                    user_path(notification.user_id) %> liked your
                    <% if find_obj(notification.notice_id, 'like').comment_id.nil? %>
                      <%= link_to 'post.', post_path(find_obj(notification.notice_id, 'like').post_id) %>
                    <% else %>
                      <%= link_to 'comment.', post_comment_path(find_commented_post(notification.notice_id),
                                            find_comment(notification.notice_id)) %>
                    <% end %>
      <% end %>
      <%= notification.created_at.strftime('%l:%M%P %b %d, %Y') %>
    <% end %> 
<% end %>
</div>