<div class='content'>
    <h2><%= @friend.first_name + ' ' + @friend.last_name %></h2>
    <% if current_user.id == @friend.id %>
      <h4>Your profile</h4>
          <%= link_to "New post", 
            new_post_path,
            data: { turbo_frame: dom_id(Post.new) } %>
    
      <%= turbo_frame_tag Post.new %>
      <%= turbo_frame_tag 'posts' do %>
        <%= render @posts %>
      <% end %>
    <% elsif @pending_request == true %>
      <h4>You are friends</h4>
      <%= button_to 'Unfriend', user_friendship_path(@friend.id), data: {
                                  turbo_method: :delete,
                                  turbo_confirm: 'Are you sure?'
                                }, method: :delete %>
    <% elsif @friend_req_sent.blank? && @friend_req_received.blank? %>
      <%= button_to 'Add Friend', user_friendships_path(@friend.id) %>
    <% elsif @pending_request == false %>
      <%= button_to 'Accept Friend Request', user_friendship_path(@friend.id),
                                             method: :patch %>
      <%= button_to 'Deny Friend Request', user_friendship_path(@friend.id), data: {
                                             turbo_method: :delete 
                                             }, method: :delete %>
    <% elsif @sent_request == false %>
      <h4>Friendship requested</h4>
    <% else %>
      <h4>Error</h4>
    <% end %>
</div>