<div class='content'>
    <h2><%= @friend.first_name + ' ' + @friend.last_name %></h2>
    <% if current_user.id == @friend.id %>
      <h4>Your profile</h4>
    <% elsif @pending_request == true %>
      <h4>You are friends</h4>
      <%= button_to 'Unfriend', user_friendship_path(@friend.id), data: {
                                  turbo_method: :delete,
                                  turbo_confirm: 'Are you sure?'
                                }, method: :delete %>
    <% elsif @friend_req_sent.blank? && @friend_req_received.blank? %>
      <%= button_to 'Add Friend', user_friendships_path(@friend.id) %>
    <% elsif @pending_request == false %>
      <%= button_to 'Accept Friend Request', user_friendship_path(@friend.id),
                                             method: :patch %>
      <%= button_to 'Deny Friend Request', user_friendship_path(@friend.id), data: {
                                             turbo_method: :delete 
                                             }, method: :delete %>
    <% elsif @sent_request == false %>
      <h4>Friendship requested</h4>
    <% else %>
      <h4>Error</h4>
    <% end %>

    <% if current_user.id == @friend.id %>
    <div>
      <div>
        <%= form_with url: posts_path do |f| %>
          <%= f.text_area :body %>
      </div>

      <div>
      <%= f.submit 'New Post' %>
      </div>
      <% end %>
    </div>
    <% end %>
    
    <p></p>
    
    <div>
      <h4>Posts</h4>
      <% @posts.each do |post| %>
      <h6><%= @friend.first_name + ' ' + @friend.last_name %></h6>
      <p><%= link_to "#{Time.zone.parse(post.created_at.to_s).strftime('%B %d, %Y')}}", posts_path(post.id) %>
      <p><%= post.body %></p>
      <% end %>
    </div>
</div>