<%= turbo_frame_tag post do %>
    <div class="post">
      <h6><%= link_to friend(post),
            user_path(post.user_id),
            data: { turbo_frame: "_top" } %></h6>
      <%= link_to post.created_at.strftime('%b %d, %Y'),
                  post_path(post),
                  data: { turbo_frame: "_top" } %>
      <p><%= post.body %></p>
      <% if current_user.id == post.user_id %>
        <div class="post__actions">
            <%= button_to "Delete",
                        post_path(post),
                        method: :delete %>
            <%= link_to "Edit",
                        edit_post_path(post) %>
        </div>
      <% end %>
    </div>
<% end %>