<div class='content'>
    <h1>Welcome to OdinFacebook, <%= current_user.first_name %>!</h1>
    <p><%= link_to "View all users", users_path %></p>

    <div class="header">
        <%= link_to "New post",
            new_post_path,
            data: { turbo_frame: dom_id(Post.new) } %>
    </div>

    <h1>Posts</h1>

    <%= turbo_frame_tag Post.new %>

    <%= turbo_frame_tag 'posts' do %>
      <%= render @posts %>
    <% end %>
</div>