<div>
  <%= link_to sanitize("&larr; Back to posts"), posts_path %>
    <%= render "post", post: @post %>
  </div>


<h3>Comments</h3>
  <% @post.comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>

<div>
  <h4>Add a comment:</h4>
  <%= form_with model: [ @post, @post.comments.build ] do |form| %>
      <%= form.hidden_field :commenter, value: current_user.id %>
    <p>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  </div>
</div>