<div class="content">
<%= link_to sanitize("&larr; Back to posts"), posts_path %>
<h1><%= @post.body %></h1>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong><%= link_to find_user(comment.commenter), user_path(comment.commenter) %> commented:</strong>
  </p>
  <p>
  <%= comment.body %>
  </p>
  <p>
    <%= link_to "Delete Comment", [comment.post, comment],
                                  data: {
                                  turbo_method: :delete,
                                  turbo_confirm: "Are you sure?" 
                                  } %>
    </p>
<% end %>

<h4>Add a comment:</h4>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
    <%= form.hidden_field :commenter, value: current_user.id %>
  <p>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>