<div>
  <%= link_to sanitize("&larr; Back to posts"), posts_path %>
  <div class="post">
        <h6><%= link_to friend(@post),
              user_path(@post.user_id),
              data: { turbo_frame: "_top" } %></h6>
        <%= link_to @post.created_at.strftime('%b %d, %Y'),
                    post_path(@post),
                    data: { turbo_frame: "_top" } %>
    <h1><%= @post.body %></h1>
  
    <div class="post__actions">
                <% if liked?(@post) %>
                  <%= link_to "Unlike", like_path(find_like(@post).first),
                                        data: { turbo_method: :delete } %>
                <% else %>
                  <%= button_to "Like", likes_path, params: { post_id: @post.id },
                                data: { turbo_frame: "posts" } %>
                <% end %>
              <%# link_to "Comments", post_path(@post.id),
                    data: { turbo_frame: "_top" } %>
              <% if current_user.id == @post.user_id %>       
                  <%= link_to "Edit",
                              edit_post_path(@post) %>
                  <%= button_to "Delete",
                              post_path(@post),
                              method: :delete %>
              <% end %>
    </div>
  </div>


<h3>Comments</h3>
<div>
  <% @post.comments.each do |comment| %>
    <div class="comment">
      <p>
        <strong><%= link_to find_user(comment.commenter), user_path(comment.commenter) %> commented:</strong>
      </p>
      <p>
      <%= comment.body %>
      </p>
      <div class="post__actions">
        <% if liked?(comment) %>
        'foo'
                  <%= link_to "Unlike", like_path(find_like(comment).first),
                                        data: { turbo_method: :delete } %>
                <% else %>
                  <%= button_to "Like", likes_path, params: { comment_id: comment.id } %>
        'bar'
        <%= find_like(comment).inspect %>        
        <% end %>
        <% if current_user.id == comment.commenter %>
          <%= link_to "Delete", [comment.post, comment],
                                  data: {
                                    turbo_method: :delete,
                                    turbo_confirm: "Are you sure?" 
                                    } %>
      
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <h4>Add a comment:</h4>
  <%= form_with model: [ @post, @post.comments.build ] do |form| %>
      <%= form.hidden_field :commenter, value: current_user.id %>
    <p>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  </div>
</div>